.page_slider {
  margin: 60px 0 0 0;
}
@media (max-width: 787px) {
  .page_slider {
    margin: 48px 0 0 0;
  }
}
.slider_h2 {
  margin: 0;
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.02em;
  text-align: center;
}
.slider {
  position: relative;
}
.slider__container {
  overflow: hidden;
}
.slider__items {
  display: flex;
  transition: transform 0.5s ease;
  margin: 36px 0 0 0;
}
.slider_disable-transition {
  transition: none;
}
.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
  user-select: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}
@media (max-width: 580px) {
  .slider__item {
  flex-direction: column-reverse;
  align-items: center;
  }
}
.slider_item_text {
  display: flex;
  flex-direction: column;
  max-width: 387px;
  padding: 27px 0 0 0;
  margin: 0;
}
@media (max-width: 767px) {
  .slider_item_text {
  max-width: 322px;
  }
}
.slider_item_h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  margin: 0;
}
@media (max-width: 767px) {
  .slider_item_h3 {
  font-size: 20px;
  }
}
@media (max-width: 580px) {
  .slider_item_h3 {
  text-align: center;
  }
}
  .slider_item_p {
  line-height: 125%;
  margin: 20px 0 0 0;
}
@media (max-width: 580px) {
  .slider_item_p {
  text-align: center;
  }
}
.slider_item_size {
  line-height: 125%;
  margin: 24px 0 0 0;
}
@media (max-width: 580px) {
  .slider_item_size {
  text-align: center;
  }
}
.slider_item_price {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  margin: 24px 0 0 0;
}
@media (max-width: 767px) {
  .slider_item_price {
  font-size: 20px;
  }
}
@media (max-width: 580px) {
  .slider_item_price {
  text-align: center;
  }
}
.slider_item_call {
  max-width: 285px;
  min-height: 80px;
  background: #D89999;
  border: 1px solid #D89999;
  border-radius: 40px;
  line-height: 125%;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 94px 0 0 0;
  transition: 0.4s;
}
.slider_item_call:hover {
   background: #FFFFFF;
   color: #AE7C78;
}
@media (max-width: 767px) {
  .slider_item_call {
    min-height: 60px;
    max-width: 235px;
    margin: 75px 0 0 0;
  }
}
@media (max-width: 580px) {
  .slider_item_call {
    align-self: center;
    min-width: 195px;
    margin: 44px 0 0 0;
  }
}
.slider_item_img {
  max-width: 100%;
  height: auto;
}
.slider_item_img>img {
  max-width: 100%;
  height: auto;
}
.slider_item_controls {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 24px 0 0 0;
}
.slider__control {
  width: 50px;
}
.slider__control_hide {
  display: none;
}
.slider__control[data-slide='prev'] {
  background: url(../img/icon/Arrow_left.svg) no-repeat;
}
.slider__control[data-slide='next'] {
  background: url(../img/icon/Arrow_right.svg) no-repeat;
}
.slider__control::before {
  content: '';
  display: inline-block;
  width: 50px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}